<template>
  <div>
    <div class="page-title">One last thing... </div>
    <v-container>
      <v-layout row wrap align-center justify-center class="pt-4">
        <v-flex xs12>
          <div class="filter-venues-subtitle pb-1">How far are you willing to go?</div>
          <v-slider
              v-model="distanceRadius"
              :thumb-size="36"
              min="500"
              max="15000"
              color="purple"
              step="500"
              always-dirty
              dark
              :label="`${distanceRadius} meters`"
              hide-details
              inverse-label
          ></v-slider>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center justify-center class="pt-4">
        <v-flex xs12>
          <div class="filter-venues-subtitle pb-1">How much are you willing to spend?</div>
          <v-range-slider
              :tick-labels="priceRangeLabels"
              :value="priceRange"
              v-model="priceRange"
              dark
              min="1"
              max="4"
              color="purple"
          ></v-range-slider>
        </v-flex>
        <v-btn fab dark large color="purple" @click="showResults">
          <v-icon dark>thumb_up</v-icon>
        </v-btn>
      </v-layout>

    </v-container>
  </div>
</template>

<script>
export default {
  name: 'FilterVenues',
  data () {
    return {
      distanceRadius: 500,
      priceRangeLabels: ['€', '€€', '€€€', '€€€€'],
      priceRange: [1, 2]
    }
  },
  methods: {
    showResults: function () {
      const [start, end] = this.priceRange
      const price = Array(end - start + 1).fill().map((item, index) => start + index).join(',')
      this.$emit('showResults', { radius: this.distanceRadius, priceRange: price })
    }
  }
}
</script>

<style scoped>
  .filter-venues-subtitle {
    font-size: 18px;
    width: 100%;
    color: white;
  }
</style>
