<template>
  <v-layout row>
    <v-flex xs12>
      <v-btn
          fab
          flat
          large
          color="white"
          @click="goBack"
      >
        <v-icon dark>arrow_back</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'NavigationBar',
  props: {
    step: {
      type: Number,
      required: true
    }
  },
  methods: {
    goBack: function () {
      if (this.step === -1) {
        this.$emit('goToStep', 0)
      } else {
        this.$emit('goToStep', this.step - 1)
      }
    }
  }
}
</script>

<style scoped>

</style>
