<template>
  <div>
    <div class="page-title mb-4">I'm happy for you, but ...</div>
    <v-layout align-center justify-center row>
      <v-flex class="text-xs-center">
        <iframe src="https://giphy.com/embed/12Nxp9loRy1yPC" width="480" height="211" frameBorder="0"
                class="giphy-embed"></iframe>
      </v-flex>
    </v-layout>
  </div>

</template>

<script>
export default {
  name: 'NotBored'
}
</script>
