<template>
  <div>
    <div class="page-title">What would make you feel better?</div>
    <v-flex fill-height>
      <v-container grid-list-lg mt-4>
        <v-layout row wrap align-center justify-center>
          <VenueTypeCard
              v-for="venueType in venueTypes"
              :key="venueType.name"
              :picture="venueType.picture"
              :name="venueType.name"
              :type="venueType.type"
              @selectVenueType="selectVenueType"
          >
          </VenueTypeCard>
        </v-layout>
      </v-container>
    </v-flex>
  </div>
</template>

<script>
import VenueTypeCard from './VenueTypeCard'
import venueTypes from '../assets/venueTypes.js'

export default {
  name: 'SelectVenueType',
  components: {VenueTypeCard},
  data () {
    return {
      venueTypes: venueTypes
    }
  },
  methods: {
    selectVenueType: function (type) {
      this.$store.commit('venues/SET_VENUE_TYPE', {type: type})
      this.$emit('goToStep', 2)
    }
  }
}
</script>
