<template>
  <v-card
      hover
      ma-2
      class="venue-type-card"
      @click.native="$emit('selectVenueType', type)"
  >
    <v-card-media
        :src="picture"
        height="200px"
    >
      <v-container fill-height fluid>
        <v-layout fill-height>
          <v-flex xs12 align-end flexbox>
            <span class="card-text">{{ name }}</span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-media>
  </v-card>

</template>

<script>
export default {
  name: 'VenueType',
  props: {
    picture: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    type: {
      types: String,
      required: true
    }
  }
}
</script>

<style scoped>
  .card-text {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 4px 4px 4px #878787;
  }

  .venue-type-card {
    min-width: 360px;
    margin: 10px;
  }

</style>
