<template>
  <div>
    <div v-if="venues.length > 0">
      <div class="page-title">Below you will find our proposed boredom cures. Enjoy!</div>
      <v-container>
        <v-card>
          <v-list two-line>
            <template v-for="(venue, index) in venues">
              <v-list-tile
                  :key="venue.id"
                  ripple
              >
                <v-list-tile-content>
                  <v-list-tile-title>{{ venue.name }}</v-list-tile-title>
                  <v-list-tile-sub-title class="text--primary">{{ venue.location }}</v-list-tile-sub-title>
                  <v-list-tile-sub-title>{{ venue.details }}</v-list-tile-sub-title>
                </v-list-tile-content>

              </v-list-tile>
              <v-divider
                  v-if="index + 1 < venues.length"
                  :key="index"
              ></v-divider>
            </template>
          </v-list>
        </v-card>
      </v-container>
    </div>
    <div v-else>
      <div class="page-title">There are no venues matching your criteria. Please amend the search and try again.</div>
    </div>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ViewResults',
  computed: {
    ...mapGetters({
      venues: 'venues/getVenuesList'
    })
  }
}
</script>
