<template>
  <v-layout align-center justify-center row fill-height >
    <v-flex class="text-xs-center">
      <v-btn fab dark large color="purple" @click="$emit('goToStep', -1)">
        <v-icon dark>thumb_down</v-icon>
      </v-btn>
    </v-flex>
    <v-flex class="text-xs-center big-text">Feeling bored?</v-flex>
    <v-flex class="text-xs-center">
      <v-btn fab dark large color="purple" @click="$emit('goToStep', 1)">
        <v-icon dark>thumb_up</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'WelcomeScreen'
}
</script>

<style scoped>
  .big-text {
    font-size: 35px;
    font-weight: bold;
    color: white;
  }
</style>
