<template>
  <v-app>
    <v-container fluid pa-0>
      <NavigationBar
          v-if="step !== 0"
          :step="step"
          @goToStep="goToStep"
      />
      <WelcomeScreen
          v-if="step === 0"
          @goToStep="goToStep"
      />
      <NotBored
          v-if="step === -1"
      />
      <SelectVenueType
          v-if="step === 1"
          @goToStep="goToStep"
      />
      <FilterVenues
          v-if="step === 2"
          @showResults="showResults"
      />
      <ViewResults
          v-if="step === 3"
      />
    </v-container>
  </v-app>
</template>

<script>
import WelcomeScreen from './components/WelcomeScreen'
import NotBored from './components/NotBored'
import SelectVenueType from './components/SelectVenueType'
import NavigationBar from './components/NavigationBar'
import FilterVenues from './components/FilterVenues'
import ViewResults from './components/ViewResults'

export default {
  name: 'App',
  components: {WelcomeScreen, NotBored, SelectVenueType, NavigationBar, FilterVenues, ViewResults},
  data () {
    return {
      step: 0
    }
  },
  methods: {
    goToStep: function (step) {
      this.step = step
    },
    showResults: async function ({radius, priceRange}) {
      await this.$store.dispatch('venues/getVenues', {radius: radius, priceRange: priceRange})
      this.goToStep(3)
    },
    getLocation: function () {
      if (navigator.geolocation) {
        return navigator.geolocation.getCurrentPosition(this.setLocation)
      }
    },
    setLocation: function (location) {
      this.$store.commit('venues/SET_LOCATION', {
      latitude: location.coords.latitude,
      longitude: location.coords.longitude
      })
    }
  },
  created () {
    this.getLocation()
  }
}
</script>

<style>
  #app {
    font-family: 'Courier New', Arial, Helvetica, sans-serif;
    background-color: #0abf53;
  }

  .page-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: white;
  }
</style>
